/* Footer css */
.footer{
    width: 100vw; 
    background-color:rgb(239, 239, 239); 
    padding:40px 70px 0px 70px;
    border-top: 1px solid rgb(0, 0, 0, 0.1);
}
@media (max-width: 1000px){
    .footer{
        padding:40px 20px 0px 20px;
    }
}

/* FooterSection1 css:  */
#section1{
    display: block;
    border-bottom: none;
}
@media (min-width: 980px){
    #section1{
        display: flex;
    }
}

/* #socialMedia{
    width: 300px;
}
#socialMedia p{

} */

.BrandIconContainer{
    font-size: 20px;
    color: gray;
}

.BrandIconContainer i{
    margin: 5px 20px 5px 0px;
}


/* FooterSection2 css: */
#section2{
    margin: 40px 0px 0px 0px;
}
#bottomNavLink {
    display: flex;
    flex-wrap:wrap;
    padding:0px 20px 0px 20px;
    font-size:12px;
    font-weight:500;
}
#bottomNavLink a{
    text-decoration:none; 
    color: gray; 
    margin: 10px 10px 10px 10px;
}
#paragraphsSection a{
    text-decoration:none; 
}